p{
    background-color: aqua;
    color:white;
    font-size: 20px;
}
/*ALL style*/
p1{
    color:#0000ff; /*hexadecimal:first two digit is for R,next for G and B*/
    background-color: #00ff00;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Times New Roman', Times, serif; /*3 are used bcoz if not one is installed atleast the last one which all browser has will be used*/
    font-size: 120%; /*%:default browser *__%(120*16=19)(if 16 is default fontsize of browser)(so the font size becomes 19*/
    font-size: 2em; /*em:here it becomes 2 times the default | ex:3em=3 times*/    
    font-weight: bold;
    font-style: italic;
}
